<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509250072208-bhcp44c96lao6a3kgnodcik0gf745c8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509250072208-bhcp44c96lao6a3kgnodcik0gf745c8a</string>
	<key>API_KEY</key>
	<string>AIzaSyA4jrChDHnH5MS2u5gUYX2kMPyYpldSh3s</string>
	<key>GCM_SENDER_ID</key>
	<string>509250072208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITI.FacebookMessenger</string>
	<key>PROJECT_ID</key>
	<string>facebookmessenger-52f81</string>
	<key>STORAGE_BUCKET</key>
	<string>facebookmessenger-52f81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509250072208:ios:e1d94bf63efc5c2e17f215</string>
	<key>DATABASE_URL</key>
	<string>https://facebookmessenger-52f81.firebaseio.com</string>
</dict>
</plist>